<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.AccountDao">

	<select id="selectItemStatus" resultType="com.khbill.dto.Item" parameterType="int">
		SELECT * FROM zitem
		WHERE item_status = 'y' AND user_no = #{userNo}
		ORDER BY item_date
	</select>

	<select id="selectUserByUserNo" resultType="com.khbill.dto.User" parameterType="int">
		select * from zuser
		WHERE user_no = #{userNo}
	</select>

	<update id="updateExtraMoney" parameterType="com.khbill.dto.User">
		UPDATE zuser
			SET extra_money = #{extraMoney}
		WHERE user_no = #{userNo}
	</update>


	<select id="selectItemSum" resultType="HashMap" parameterType="HashMap">
	<![CDATA[
		SELECT NVL(ITEM_PRICE, 0) item_price, l ITEM_DATE FROM (
		    SELECT
		        sum(item_price) as item_price
		        , to_char(item_date,'mm') as item_date
		    FROM zitem
		    WHERE user_no = #{userNo} AND item_status = 'y' AND to_char(sysdate, 'yyyy') = to_char(item_date, 'yyyy')
		    GROUP BY to_char(item_date,'mm')
		) z
		RIGHT OUTER JOIN (
		    SELECT
		        TO_CHAR(level, '00') l
		    FROM dual
		    CONNECT BY level <= 12
		) le
		ON trim(z.item_date) = trim(le.l)
		ORDER BY l
	]]>
	</select>
	
	
	<select id="selectItemListMonSumUserNo" resultType="int" parameterType="int">
	<![CDATA[
		SELECT nvl(SUM(item_price), 0)
		FROM zitem
		WHERE item_status = 'y' AND user_no = #{userNo } AND to_char(sysdate, 'mm') = to_char(item_date, 'mm')
	]]>
	</select>
	
	
	<select id="selectUserMonItemList" resultType="com.khbill.dto.Item" parameterType="int">
	<![CDATA[
	    SELECT * FROM zitem
        WHERE item_status = 'y' AND user_no = #{userNo} AND to_char(sysdate, 'mm') = to_char(item_date, 'mm')
		ORDER BY item_date
	]]>
	</select>


	<select id="selectLastMonItemSum" resultType="int" parameterType="int">
		SELECT nvl(SUM(item_price), 0)
        FROM zitem
        WHERE 1=1
        AND item_status = 'y'
        AND user_no = #{userNo}
        AND TO_CHAR(ADD_MONTHS(sysdate,-1), 'MM') = TO_CHAR(item_date, 'MM')
	</select>

</mapper>