<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.AccountDao">

	<select id="selectItemStatus" resultType="com.khbill.dto.Item" parameterType="int">
		SELECT * FROM zitem
		WHERE item_status = 'y' AND user_no = #{userNo}
		ORDER BY item_date
	</select>

	<select id="selectUserByUserNo" resultType="com.khbill.dto.User" parameterType="int">
		select * from zuser
		WHERE user_no = #{userNo}
	</select>

	<update id="updateExtraMoney" parameterType="com.khbill.dto.User">
		UPDATE zuser
			SET extra_money = #{extraMoney}
		WHERE user_no = #{userNo}
	</update>

</mapper>