<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.AdminReviewReportDao">

	<sql id="selectReviewReport">
        SELECT 
            X.report_no, X.report_category, X.report_content, X.respondent_no
            , R.review_no, U.user_no, U.user_nick, R.review_title, X.report_date, X.report_status
        FROM zreview_report X 
        INNER JOIN zreview R
            ON X.review_no = R.review_no
        INNER JOIN zuser U
            ON U.user_no = R.user_no
	</sql>
	
	<sql id="whereReviewReportTitleSearch">
		WHERE review_title LIKE '%' || #{search} || '%'
	</sql>

	<select id="selectReviewReportList" parameterType="com.khbill.util.Paging" resultType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, X.* FROM (
		    	<include refid="selectReviewReport"/>   
		    	<include refid="whereReviewReportTitleSearch"/>   
		        ORDER BY report_no DESC
		    ) X
		) zreview_report
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<select id="selectCntAll" resultType="int" parameterType="com.khbill.util.Paging">
		SELECT count(*) FROM (
			<include refid="selectReviewReport"/>
			<include refid="whereReviewReportTitleSearch"/>
		)
	</select>
	
	<update id="updateReviewReportByStatusY" parameterType="com.khbill.dto.ReviewReport">
		UPDATE zreview_report
		SET report_status = 'y'
		WHERE review_no = #{reviewNo }
	</update>
	
	<select id="selectCntReviewReportByStatusY" parameterType="com.khbill.dto.ReviewReport" resultType="int">
		SELECT count(*) FROM zreview_report
		WHERE review_no = #{reviewNo } AND report_status = 'y'
	</select>
	
	<update id="updateReviewReportByStatusN" parameterType="com.khbill.dto.ReviewReport">
		UPDATE zreview_report
		SET report_status = 'n'
		WHERE review_no = #{reviewNo }
	</update>
	
	<select id="selectCntReviewReportByStatusN" parameterType="com.khbill.dto.ReviewReport" resultType="int">
		SELECT count(*) FROM zreview_report
		WHERE review_no = #{reviewNo } AND report_status = 'n'
	</select>	
	
	<delete id="deleteReviewReportByReportNo" parameterType="int">
		DELETE zreview_report
		WHERE report_no = #{reportNo }
	</delete>
	
	<select id="selectReviewByReviewNo" parameterType="com.khbill.dto.Review" resultType="HashMap">
		SELECT * FROM (
		    SELECT 
		        R.review_no, item_no, U.user_no, user_nick, file_no
		        , review_title, review_content, review_date, review_hit
		        , X.report_category, X.report_content
		    FROM zuser U
		    INNER JOIN zreview R
		        ON U.user_no = R.user_no
		    INNER JOIN zreview_report X
		       ON R.review_no = X.review_no
		    ORDER BY user_no
		) ZREVIEW
		WHERE review_no = #{reviewNo } 
	</select>
	 
	<select id="selectItemByItemNo" resultType="com.khbill.dto.Item" parameterType="int">
		SELECT * FROM zitem
		WHERE item_no = #{itemNo }
	</select>

	<select id="selectFileByFile" resultType="com.khbill.dto.File" parameterType="int">
		SELECT
			file_no, file_origin, file_stored, file_size, file_date
		FROM zfile
		WHERE file_no = #{fileNo }
	</select>
	
</mapper>