<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khbill.dao.face.AdminQnaDao">
	
	<select id="selectCntAll" resultType="int">
		SELECT COUNT(*) FROM zqna
	</select>
	
	<select id="selectQnaList" parameterType="com.khbill.util.Paging" resultType="com.khbill.dto.Qna">
		SELECT * FROM (
			SELECT rownum rnum, Q.* FROM (
				SELECT * FROM zqna
				ORDER BY qna_no DESC
			) Q
		) zqna
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectQnaDetail" parameterType="int" resultType="com.khbill.dto.Qna">
		SELECT * FROM zqna
		WHERE qna_no = #{qnaNo}
	</select>
	
	<select id="selectQnaComment" parameterType="int" resultType="com.khbill.dto.QnaComment">
		SELECT * FROM zqna_comment
		WHERE qna_no = #{qnaNo}
	</select>
	
	<select id="selectNickByUserNo" parameterType="int" resultType="String">
		SELECT user_nick FROM zuser
		WHERE user_no = #{userNo}
	</select>
	
	<delete id="deleteQna" parameterType="int">
		DELETE zqna
		WHERE qna_no = #{qnaNo}
	</delete>
	
	<insert id="insertQnaComment" parameterType="com.khbill.dto.QnaComment">
		INSERT INTO zqna_comment (qna_com_no, qna_no, admin_no, qna_com_content)
		VALUES (zqna_com_seq.nextval, #{qnaNo}, #{adminNo}, #{qnaComContent})		
	</insert>
	
	<update id="updateQnaStatusToY" parameterType="int">
		UPDATE zqna
		SET qna_status = 'y'
		WHERE qna_no = #{qnaNo}
	</update>
	
	<update id="updateQnaComment" parameterType="com.khbill.dto.QnaComment">
		UPDATE zqna_comment
		SET admin_no = #{adminNo}, qna_com_date = sysdate, qna_com_content = #{qnaComContent}
		WHERE qna_com_no = #{qnaComNo}
	</update>
	
	<delete id="deleteQnaComment" parameterType="int">
		DELETE zqna_comment
		WHERE qna_no = #{qnaNo}
	</delete>
	
	<update id="updateQnaStatusToN" parameterType="int">
		UPDATE zqna
		SET qna_status = 'n'
		WHERE qna_no = #{qnaNo}
	</update>

</mapper>