<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.khbill.dao.face.AdminTradeDao">

	<sql id="selectTrade">
        SELECT 
        	trade_no, U.user_no, user_nick, trade_category
        	, trade_title, trade_date, trade_hit
        FROM ztrade T
        INNER JOIN zuser U
        ON U.user_no(+) = T.user_no
	</sql>

	<sql id="whereTitleSearch">
		WHERE trade_title LIKE '%' || #{search} || '%'
	</sql>
	
	<select id="selectTradeList" resultType="HashMap" parameterType="com.khbill.util.Paging">
       	SELECT * FROM (
		    SELECT rownum rnum, sub.* FROM (
		        SELECT DISTINCT T.trade_no, U.user_no, U.user_nick, T.trade_category, T.trade_title, T.trade_date, T.trade_hit
		        , f.file_stored, UW.grade_url, nvl(R.report_status, 'n') report_status, cnt.trade_com_cnt
		        FROM ztrade T, zuser U, ztrade_report R, USERWITHURL UW, zfile f, (
                    SELECT count(trade_com_no) trade_com_cnt, trade_no
                    FROM ztrade_comment
                    group by trade_no
                ) cnt
		        WHERE 1=1
		        AND U.user_no(+) = T.user_no
		        AND R.trade_no(+) = T.trade_no
		        AND UW.user_no(+) = U.user_no
                AND cnt.trade_no(+) = T.trade_no
                AND F.file_no(+) = T.file_no
		        AND trade_title LIKE '%' || #{search } || '%'
     		    <choose>
		        <when test="target == 0">
		        AND trade_category = 0
		        </when>
		        <when test="target == 1">
		        AND trade_category = 1
		        </when>
		        </choose>
		        ORDER BY trade_no DESC
		        ) sub
		    ) ZTRADE
		    WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectCntAll" resultType="int" parameterType="com.khbill.util.Paging">
		SELECT count(*) FROM (
			<include refid="selectTrade"/>
			<include refid="whereTitleSearch"/>
    		<choose>
	        <when test="target == 0">
	        AND trade_category = 0
	        </when>
	        <when test="target == 1">
	        AND trade_category = 1
	        </when>
	        </choose>
		)
	</select>
	
</mapper>