<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.AdminAskReportDao">

	<sql id="selectAskReport">
		SELECT 
            X.report_no, X.report_category, X.report_content, X.respondent_no
            , A.ask_no, U.user_no, U.user_nick, A.ask_title, X.report_date, X.report_status
        FROM zask_report X 
        INNER JOIN zask A
            ON X.ask_no = A.ask_no
        INNER JOIN zuser U
            ON U.user_no = A.user_no
	</sql>
	
	<sql id="whereAskReportTitleSearch">
		WHERE ask_title LIKE '%' || #{search} || '%'
	</sql>
	
	<select id="selectAskReportList" parameterType="com.khbill.util.Paging" resultType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, X.* FROM (
		    	<include refid="selectAskReport"/>   
		    	<include refid="whereAskReportTitleSearch"/>   
		        ORDER BY report_no DESC
			    ) X
			) zask_report
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<select id="selectCntAll" resultType="int" parameterType="com.khbill.util.Paging">
		SELECT count(*) FROM (
			<include refid="selectAskReport"/>
			<include refid="whereAskReportTitleSearch"/>
		)
	</select>
	
	<update id="updateAskReportByStatusY" parameterType="com.khbill.dto.AskReport">
		UPDATE zask_report
		SET report_status = 'y'
		WHERE ask_no = #{askNo }
	</update>
	
	<select id="selectCntAskReportByStatusY" parameterType="com.khbill.dto.AskReport" resultType="int">
		SELECT count(*) FROM zask_report
		WHERE ask_no = #{askNo } AND report_status = 'y'
	</select>
	
	<update id="updateAskReportByStatusN" parameterType="com.khbill.dto.AskReport">
		UPDATE zask_report
		SET report_status = 'n'
		WHERE ask_no = #{askNo }
	</update>
	
	<select id="selectCntAskReportByStatusN" parameterType="com.khbill.dto.AskReport" resultType="int">
		SELECT count(*) FROM zask_report
		WHERE ask_no = #{askNo } AND report_status = 'n'
	</select>	
	
	<delete id="deleteAskReportByReportNo" parameterType="int">
		DELETE zask_report
		WHERE report_no = #{reportNo }
	</delete>

	<select id="selectAskByAskNo" resultType="HashMap" parameterType="int">
		SELECT * FROM (
		    SELECT DISTINCT
		        A.ask_no, U.user_no, U.user_nick, A.product_no
		        , I.item_brand, I.item_name, I.item_price, F.file_no, F.file_stored
		        , A.ask_title, A.ask_content, A.ask_date, A.ask_hit
		        , V.vote_start, V.vote_end
		        , X.report_category, X.report_content, X.report_no
		    FROM zuser U
		    INNER JOIN zask A
		        ON U.user_no = A.user_no
		    INNER JOIN zitem I
		        ON A.product_no = I.item_no    
		    INNER JOIN zfile F
		        ON I.file_no = F.file_no
		    INNER JOIN zvote V
		        ON A.ask_no = V.ask_no
		    INNER JOIN zask_report X
		        ON A.ask_no = X.ask_no
		    ORDER BY user_no
		) ZASK
		WHERE report_no = #{reportNo }
	</select>
	
	<select id="selectAskCommentByAskNo" resultType="HashMap" parameterType="int">
        SELECT * FROM (
            SELECT rownum rnum, C.* FROM (
                SELECT
                     ask_com_no, U.user_no, user_nick, ask_no
                    , ask_com_content, ask_com_date, ask_com_like, ask_com_hate, W.grade_url
                FROM ZASK_COMMENT C
                LEFT OUTER JOIN zuser U
                    ON U.user_no = C.user_no
                LEFT OUTER JOIN USERWITHURL W
                    ON U.user_no = W.user_no
                WHERE ask_no = #{askNo}
                ORDER BY ask_com_no
            ) C
        ) ZASK_COMMENT
	</select>
	
	<select id="selectVoteByAskNoUserNo" resultType="com.khbill.dto.Vote" parameterType="com.khbill.dto.Vote">
		SELECT * FROM zvote
		WHERE ask_no = #{askNo } AND user_no = #{userNo}
	</select>
	
	<select id="selectVoteByAskNoVoteState" parameterType="com.khbill.dto.Vote" resultType="int">
		SELECT COUNT(*) FROM zvote
		WHERE ask_no = #{askNo} AND vote_state = #{voteState}
	</select>
	
	<select id="selectVoteEnd"  resultType="int" parameterType="com.khbill.dto.Vote">
		SELECT COUNT(*) FROM zvote
		WHERE sysdate <![CDATA[ < ]]> #{voteEnd}
		AND ask_no = #{askNo} AND user_no = #{userNo}
	</select>

</mapper>