<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khbill.dao.face.AdminUserDao">
	
	<select id="selectCntAll" resultType="int">
		SELECT COUNT(*) FROM zuser
		WHERE user_id LIKE '%' || #{search} || '%'
	</select>
	
	<select id="selectUserList" parameterType="com.khbill.util.Paging" resultType="com.khbill.dto.User">
		SELECT * FROM (
			SELECT rownum rnum, U.* FROM (
				SELECT * FROM zuser
				ORDER BY user_no DESC
			) U
		) zuser
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<delete id="deleteUser" parameterType="int">
		DELETE zuser
		WHERE user_no = #{userNo}
	</delete>
	
</mapper>