<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.AdminReviewDao">

	<sql id="selectReview">
        SELECT 
        	review_no, U.user_no, U.user_nick
        	, review_title, review_date, review_hit
        FROM zreview R
        LEFT OUTER JOIN zuser U
            ON U.user_no = R.user_no
	</sql>
	
	<sql id="whereReviewTitleSearch">
		WHERE review_title LIKE '%' || #{search} || '%'
	</sql>
	
	<select id="selectReviewList" parameterType="com.khbill.util.Paging" resultType="HashMap">
		SELECT * FROM (
		    SELECT rownum rnum, R.* FROM (
		    	<include refid="selectReview"/>
				<include refid="whereReviewTitleSearch"/>
		        ORDER BY review_no DESC
		    ) R
		) ZREVIEW
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectCntAll" resultType="int" parameterType="com.khbill.util.Paging">
		SELECT count(*) FROM (
			<include refid="selectReview"/>
			<include refid="whereReviewTitleSearch"/>
		)
	</select>

	<update id="updatehit" parameterType="com.khbill.dto.Review">
		UPDATE ZREVIEW
		SET review_hit = review_hit + 1
		WHERE review_no = #{reviewNo }
	</update>
	
	<select id="selectReviewByReviewNo" resultType="HashMap" parameterType="com.khbill.dto.Review">
		SELECT * FROM (
		        SELECT 
		        	review_no, item_no, U.user_no, user_nick, file_no
		        	, review_title, review_content, review_date, review_hit
		        FROM zreview R
		        LEFT OUTER JOIN zuser U
		            ON U.user_no = R.user_no
		        ORDER BY user_no
		) ZREVIEW
		WHERE review_no = #{reviewNo }
	</select>
	 
	<select id="selectItemByItemNo" resultType="com.khbill.dto.Item" parameterType="int">
		SELECT * FROM zitem
		WHERE item_no = #{itemNo }
	</select>

	<select id="selectFileByFile" resultType="com.khbill.dto.File" parameterType="int">
		SELECT
			file_no, file_origin, file_stored, file_size, file_date
		FROM zfile
		WHERE file_no = #{fileNo }
	</select>
	
	<delete id="deleteReport" parameterType="int">
		DELETE zreview_report
		WHERE review_no = #{reviewNo}
	</delete>
	
	<delete id="deleteReview" parameterType="int">
		DELETE zreview
		WHERE review_no = #{reviewNo }
	</delete>
	
	<delete id="deleteScrap" parameterType="int">
		DELETE zreview_scrap
		WHERE review_no = #{reviewNo}
	</delete>
	
	<delete id="deleteFile" parameterType="int">
		DELETE zfile
		WHERE file_no = #{fileNo }
	</delete>

	<delete id="deleteReviewCommentByReviewNo" parameterType="com.khbill.dto.Review">
		DELETE zreview_comment
		WHERE review_no = #{reviewNo }
	</delete>
	
	<delete id="deleteReviewComment" parameterType="com.khbill.dto.ReviewComment">
		DELETE ZREVIEW_COMMENT
		WHERE review_com_no = #{reviewComNo }
	</delete>
	
	<select id="selectCountComment" parameterType="com.khbill.dto.ReviewComment" resultType="int">
		SELECT count(*) FROM ZREVIEW_COMMENT
		WHERE review_no = #{reviewNo }
	</select>
	
</mapper>