<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.AdminAskDao">

	<sql id="selectAsk">
        SELECT 
        	ask_no, U.user_no, user_nick, product_no,
        	ask_title, ask_content, ask_date, ask_hit
        FROM zask A
        INNER JOIN zuser U
        ON U.user_no (+) = A.user_no
	</sql>
	
	<sql id="whereTitleSearch">
		WHERE ask_title LIKE '%' || #{search} || '%'
	</sql>

	<select id="selectAskList" resultType="HashMap" parameterType="com.khbill.util.Paging">
		SELECT A.ask_no, U.user_no, A.user_nick, A.ask_title, A.ask_content, A.ask_date, A.ask_hit, u.grade_url
		FROM USERWITHURL U, (
            SELECT ask_no, U.user_no, user_nick, ask_title, ask_content, product_no, ask_date, ask_hit
            FROM zask A, zuser U
            WHERE 1=1
            AND U.user_no(+) = A.user_no 
            AND ask_title LIKE '%' || #{search} || '%'
            ORDER BY ask_no DESC
        ) A
        WHERE 1=1
        AND U.user_no(+) = A.user_no
        AND rownum BETWEEN #{startNo } AND #{endNo }
		ORDER BY A.ask_no DESC
	</select>

	<select id="selectCntAll" resultType="int" parameterType="com.khbill.util.Paging">
		SELECT COUNT(*) FROM (
			<include refid="selectAsk"/>
			<include refid="whereTitleSearch"/>
		)
	</select>

	<select id="selectAskByAskNo" resultType="com.khbill.dto.Ask" parameterType="int">
		<include refid="selectAsk"/>
		WHERE ask_no = #{askNo }
	</select>
	
	<delete id="deleteAsk" parameterType="int">
		DELETE zask
		WHERE ask_no = #{askNo}
	</delete>
	
	<delete id="deleteFile" parameterType="int">
		DELETE zfile
		WHERE file_no = #{fileNo}
	</delete>
	
	<delete id="deleteItem" parameterType="int">
		DELETE zitem
		WHERE item_no = #{itemNo}
	</delete>
	
	<delete id="deleteVote" parameterType="int">
		DELETE zvote
		WHERE ask_no = #{askNo}
	</delete>
	
	<select id="selectAskComByAskNo" resultType="HashMap" parameterType="int">
        SELECT * FROM (
            SELECT rownum rnum, C.* FROM (
                SELECT
                     ask_com_no, U.user_no, user_nick, ask_no
                    , ask_com_content, ask_com_date, ask_com_like, ask_com_hate, W.grade_url
                FROM ZASK_COMMENT C
                LEFT OUTER JOIN zuser U
                    ON U.user_no = C.user_no
                LEFT OUTER JOIN USERWITHURL W
                    ON U.user_no = W.user_no
                WHERE ask_no = #{askNo}
                ORDER BY ask_com_no
            ) C
        ) ZASK_COMMENT
	</select>
	
	<delete id="deleteAskCom" parameterType="int">
		DELETE zask_comment
		WHERE ask_com_no = #{askComNo}
	</delete>
	
	<select id="selectCntCom" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zask_comment WHERE ask_com_no = #{askComNo}
	</select>
	
	<delete id="deleteAskComByAskNo" parameterType="int">
		DELETE zask_comment
		WHERE ask_no = #{askNo}
	</delete>

	<delete id="deleteScrap" parameterType="int">
		DELETE zask_scrap
		WHERE ask_no = #{askNo}
	</delete>
	
	<delete id="deleteReport" parameterType="int">
		DELETE zask_report
		WHERE ask_no = #{askNo}
	</delete>

	<select id="selectUserList" resultType="com.khbill.dto.User">
		SELECT * from zuser
	</select>

	<select id="selectUserInfo" resultType="com.khbill.dto.User" parameterType="int">
		SELECT * from zuser
		WHERE user_no = #{userNo}
	</select>
	
	<select id="selectFileByFileNo" resultType="com.khbill.dto.File" parameterType="int">
		SELECT * FROM zfile
		WHERE file_no = #{fileNo}
	</select>
	
	<select id="selectItemByProductNo" resultType="com.khbill.dto.Item" parameterType="int">
		SELECT * FROM zitem
		WHERE item_no = #{productNo}
	</select>
	
	<select id="selectVoteByAskNoUserNo" resultType="com.khbill.dto.Vote" parameterType="com.khbill.dto.Vote">
		SELECT * FROM zvote
		WHERE ask_no = #{askNo } AND user_no = #{userNo}
	</select>
	
	<select id="selectVoteByAskNoVoteState" parameterType="com.khbill.dto.Vote" resultType="int">
		SELECT COUNT(*) FROM zvote
		WHERE ask_no = #{askNo} AND vote_state = #{voteState}
	</select>


</mapper>