<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.AskDao">

	<sql id="selectAsk">
		SELECT ask_no,user_no,product_no,ask_title,ask_content,ask_date,ask_hit
		FROM zask
	</sql>
	
	<sql id="whereTitleSearch">
			WHERE ask_title LIKE '%' || #{search} || '%'
	</sql>
	
	<select id="selectAskList" resultType="com.khbill.dto.Ask" parameterType="com.khbill.util.Paging">
		SELECT * FROM (
				SELECT rownum rnum, A.* FROM (
					<include refid="selectAsk"/>
					<include refid="whereTitleSearch"/>
					ORDER BY ask_no DESC
				) A
			) R
			WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	<select id="selectCntAll" resultType="int" parameterType="com.khbill.util.Paging">
		SELECT COUNT(*) FROM (
				<include refid="selectAsk"/>
				<include refid="whereTitleSearch"/>
			)
	</select>
	
	
	<select id="selectUserInfo" resultType="com.khbill.dto.User" parameterType="int">
		SELECT * from zuser
		WHERE user_no = #{userNo}
	</select>
	
	
	<select id="selectUserList" resultType="com.khbill.dto.User">
		SELECT * from zuser
	</select>
	
	
	<select id="getNextFileNo" resultType="int">
	SELECT zfile_seq.nextval FROM dual
	</select>
	
	<select id="getNextItemNo" resultType="int">
	SELECT zitem_seq.nextval FROM dual
	</select>
	
	<select id="getNextAskNo" resultType="int">
	SELECT zask_seq.nextval FROM dual
	</select>
	
	
	<insert id="insertFile" parameterType="com.khbill.dto.File">
		INSERT INTO ZFILE (file_no, file_origin, file_stored, file_size, file_date)
		VALUES (#{fileNo},#{fileOrigin},#{fileStored},#{fileSize},sysdate)
	</insert>
	
	<insert id="insertItem" parameterType="com.khbill.dto.Item">
		INSERT INTO zitem(item_no,user_no,file_no,item_brand,item_name,item_price)
		VALUES (#{itemNo},#{userNo},#{fileNo},#{itemBrand},#{itemName},#{itemPrice})
	</insert>
	
	<insert id="insertAsk" parameterType="com.khbill.dto.Ask">
		INSERT INTO ZASK
		VALUES (#{askNo},#{userNo},#{productNo},#{askTitle},#{askContent},sysdate,0) 
	</insert>
	
	<insert id="insertVote1" parameterType="com.khbill.dto.Vote">
		INSERT INTO ZVOTE (vote_no,user_no,ask_no,vote_start,vote_end)
		VALUES (zvote_seq.nextval,#{userNo},#{askNo},sysdate,sysdate+1)
	</insert>
	
	<insert id="insertVote2" parameterType="com.khbill.dto.Vote">
		INSERT INTO ZVOTE (vote_no,user_no,ask_no,vote_start,vote_end)
		VALUES (zvote_seq.nextval,#{userNo},#{askNo},sysdate,sysdate+2)
	</insert>
	
	<insert id="insertVote3" parameterType="com.khbill.dto.Vote">
		INSERT INTO ZVOTE (vote_no,user_no,ask_no,vote_start,vote_end)
		VALUES (zvote_seq.nextval,#{userNo},#{askNo},sysdate,sysdate+3)
	</insert>
	
	<select id="selectAskByAskNo" resultType="com.khbill.dto.Ask" parameterType="int">
		<include refid="selectAsk"/>
		WHERE ask_no = #{askNo }
	</select>
	
	<select id="selectFileByFileNo" resultType="com.khbill.dto.File" parameterType="int">
		SELECT * FROM zfile
		WHERE file_no = #{fileNo}
	</select>
	
	<select id="selectItemByProductNo" resultType="com.khbill.dto.Item" parameterType="int">
		SELECT * FROM zitem
		WHERE item_no = #{productNo}
	</select>
	
	<select id="selectVoteByAskNoUserNo" resultType="com.khbill.dto.Vote" parameterType="com.khbill.dto.Vote">
		SELECT * FROM zvote
		WHERE ask_no = #{askNo } AND user_no = #{userNo}
	</select>
	
	<select id="selectVoteEnd"  resultType="int" parameterType="com.khbill.dto.Vote">
		SELECT COUNT(*) FROM zvote
		WHERE sysdate <![CDATA[ < ]]> #{voteEnd}
		AND ask_no = #{askNo} AND user_no = #{userNo}
	</select>
	
	<update id="hit" parameterType="int">
		UPDATE zask 
		SET ask_hit = ask_hit+1
		WHERE ask_no = #{askNo}
	</update>
	
	<update id="updateAsk" parameterType="com.khbill.dto.Ask">
		UPDATE zask
		SET ask_title = #{askTitle }
			, ask_content = #{askContent }
		WHERE ask_no = #{askNo }
	</update>
	
	<delete id="deleteAsk" parameterType="int">
		DELETE zask
		WHERE ask_no = #{askNo}
	</delete>
	
	<delete id="deleteFile" parameterType="int">
		DELETE zfile
		WHERE file_no = #{fileNo}
	</delete>
	
	<delete id="deleteItem" parameterType="int">
		DELETE zitem
		WHERE item_no = #{itemNo}
	</delete>
	
	<delete id="deleteVote" parameterType="int">
		DELETE zvote
		WHERE ask_no = #{askNo}
	</delete>
	
	<insert id="insertAskCom" parameterType="com.khbill.dto.AskComment">
		INSERT INTO zask_comment (ask_com_no,ask_no,user_no,ask_com_content,ask_com_date,ask_com_like,ask_com_hate)
		VALUES (zask_comment_seq.nextval,#{askNo},#{userNo},#{askComContent},sysdate,0,0) 
	</insert>
	
	<select id="selectAskComByAskNo" resultType="com.khbill.dto.AskComment" parameterType="int">
		SELECT * FROM zask_comment
		WHERE ask_no = #{askNo}
	</select>
	
	
	<delete id="deleteAskCom" parameterType="int">
		DELETE zask_comment
		WHERE ask_com_no = #{askComNo}
	</delete>
	
	<select id="selectCntCom" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zask_comment WHERE ask_com_no = #{askComNo}
	</select>
	
	<delete id="deleteAskComByAskNo" parameterType="int">
		DELETE zask_comment
		WHERE ask_no = #{askNo}
	</delete>
	
	<insert id="insertVoteStatus" parameterType="com.khbill.dto.Vote">
		INSERT INTO zvote
		VALUES (zvote_seq.nextval,#{userNo},#{askNo},#{voteState},#{voteStart},#{voteEnd})
	</insert>
	
	<select id="selectVoteByAskNo" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zask
		WHERE ask_no = #{askNo}
	</select>
	
	<select id="selectVoteByLoginUser" parameterType="com.khbill.dto.Vote" resultType="int">
		SELECT COUNT(*) FROM zvote
		WHERE ask_no = #{askNo } AND user_no = #{userNo}
	</select>

	
	<select id="selectVoteByAskNoVoteState" parameterType="com.khbill.dto.Vote" resultType="int">
		SELECT COUNT(*) FROM zvote
		WHERE ask_no = #{askNo} AND vote_state = #{voteState}
	</select>

	<select id="selectAskComByAskComNo" resultType="com.khbill.dto.AskComment" parameterType="int">
		SELECT * FROM zask_comment
		WHERE ask_com_no = #{askComNo}	
	</select>

	<insert id="insertAskScrap" parameterType="com.khbill.dto.AskScrap">
		INSERT INTO zask_scrap
		VALUES (zask_scrap_seq.nextval,#{userNo},#{askNo})
	</insert>


	<delete id="deleteAskScrap" parameterType="com.khbill.dto.AskScrap">
		DELETE zask_scrap
		WHERE user_no = #{userNo} AND ask_no = #{askNo}
	</delete>
	
	<select id="selectCntAskScrap" resultType="int" parameterType="com.khbill.dto.AskScrap">
		SELECT count(*) FROM zask_scrap
		WHERE ask_no = #{askNo}
		AND user_no = #{userNo}
	</select>


	<insert id="insertAskReport" parameterType="com.khbill.dto.AskReport">
		INSERT INTO zask_report
		VALUES (zask_report_seq.nextval,#{askNo},#{reporterNo},#{respondentNo},#{reportCategory},
		#{reportContent},sysdate,'n')
	</insert>

	<select id="selectCntAskReportCheck" resultType="int" parameterType="com.khbill.dto.AskReport">
		SELECT count(*) FROM zask_report
		WHERE ask_no = #{askNo} AND reporter_no = #{reporterNo}
	</select>


	<select id="selectAskHitList" resultType="com.khbill.dto.Ask" parameterType="com.khbill.util.Paging" >
		SELECT * FROM (
				SELECT rownum rnum, A.* FROM (
					<include refid="selectAsk"/>
					<include refid="whereTitleSearch"/>
					ORDER BY ask_hit DESC
				) A
			) R
			WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>


	<delete id="deleteScrap" parameterType="int">
		DELETE zask_scrap
		WHERE ask_no = #{askNo}
	</delete>
	
	<delete id="deleteReport" parameterType="int">
		DELETE zask_report
		WHERE ask_no = #{askNo}
	</delete>


	<select id="selectCntAskComAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zask_comment
		WHERE ask_no = #{askNo}
	</select>
	
	<select id="selectAskComListByAskNo" resultType="com.khbill.dto.AskComment" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				SELECT * FROM zask_comment
				WHERE ask_no = #{askNo }
				ORDER BY ask_com_date DESC
			) A
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>


	<select id="selectAskCommentByUserNo" parameterType="int" resultType="com.khbill.dto.AskComment">
	SELECT * FROM zask_comment
	    WHERE user_no = #{userNo }
        AND rownum = 1
        ORDER BY ask_com_no DESC
	</select>
	
	<select id="selectUserNickByUserNo" parameterType="int" resultType="String">
	    SELECT user_nick
        FROM zuser
        WHERE user_no = #{userNo }
	</select>
	
	<update id="updateAskComment" parameterType="com.khbill.dto.AskComment">
		UPDATE zask_comment
		SET ask_com_content = #{askComContent }, ask_com_date = SYSDATE
		WHERE ask_com_no = #{askComNo }
	</update>
	
	<select id="selectOneAskCommentByAskNo" parameterType="com.khbill.dto.AskComment" resultType="com.khbill.dto.AskComment">
		SELECT * FROM zask_comment
	    WHERE ask_com_no = #{askComNo }
	</select>




</mapper>
