<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.AskDao">

<sql id="selectAsk">
	SELECT ask_no,user_no,product_no,ask_title,ask_content,ask_date,ask_hit
	FROM zask
</sql>

<sql id="whereTitleSearch">
		WHERE ask_title LIKE '%' || #{search, jdbcType=VARCHAR} || '%'
</sql>

<select id="selectAskList" resultType="com.khbill.dto.Ask" parameterType="com.khbill.util.Paging">
	SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				<include refid="selectAsk"/>
				<include refid="whereTitleSearch"/>
				ORDER BY ask_no DESC
			) A
		) R
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
</select>

<select id="selectCntAll" resultType="int" parameterType="com.khbill.util.Paging">
	SELECT COUNT(*) FROM (
			<include refid="selectAsk"/>
			<include refid="whereTitleSearch"/>
		)
</select>


<select id="selectUserInfo" resultType="com.khbill.dto.User" parameterType="int">
	SELECT * from zuser
	WHERE user_no = #{userNo}
</select>


<select id="selectUserList" resultType="com.khbill.dto.User">
	SELECT * from zuser
</select>


<select id="getNextFileNo" resultType="int">
SELECT zfile_seq.nextval FROM dual
</select>

<select id="getNextItemNo" resultType="int">
SELECT zitem_seq.nextval FROM dual
</select>

<select id="getNextAskNo" resultType="int">
SELECT zask_seq.nextval FROM dual
</select>


<insert id="insertFile" parameterType="com.khbill.dto.File">
	INSERT INTO ZFILE (file_no, file_origin, file_stored, file_size, file_date)
	VALUES (#{fileNo},#{fileOrigin},#{fileStored},#{fileSize},sysdate)
</insert>

<insert id="insertItem" parameterType="com.khbill.dto.Item">
	INSERT INTO zitem(item_no,user_no,file_no,item_brand,item_name,item_price)
	VALUES (#{itemNo},#{userNo},#{fileNo},#{itemBrand},#{itemName},#{itemPrice})
</insert>

<insert id="insertAsk" parameterType="com.khbill.dto.Ask">
	INSERT INTO ZASK
	VALUES (#{askNo},#{userNo},#{productNo},#{askTitle},#{askContent},sysdate,0) 
</insert>

<insert id="insertVote1" parameterType="com.khbill.dto.Vote">
	INSERT INTO ZVOTE (vote_no,user_no,ask_no,vote_start,vote_end)
	VALUES (zvote_seq.nextval,#{userNo},#{askNo},sysdate,sysdate+1)
</insert>

<insert id="insertVote2" parameterType="com.khbill.dto.Vote">
	INSERT INTO ZVOTE (vote_no,user_no,ask_no,vote_start,vote_end)
	VALUES (zvote_seq.nextval,#{userNo},#{askNo},sysdate,sysdate+2)
</insert>

<insert id="insertVote3" parameterType="com.khbill.dto.Vote">
	INSERT INTO ZVOTE (vote_no,user_no,ask_no,vote_start,vote_end)
	VALUES (zvote_seq.nextval,#{userNo},#{askNo},sysdate,sysdate+3)
</insert>

<select id="selectAskByAskNo" resultType="com.khbill.dto.Ask" parameterType="int">
	<include refid="selectAsk"/>
	WHERE ask_no = #{askNo }
</select>

<select id="selectFileByFileNo" resultType="com.khbill.dto.File" parameterType="int">
	SELECT * FROM zfile
	WHERE file_no = #{fileNo}
</select>

<select id="selectItemByProductNo" resultType="com.khbill.dto.Item" parameterType="int">
	SELECT * FROM zitem
	WHERE item_no = #{productNo}
</select>

<select id="selectVoteByAskNo" resultType="com.khbill.dto.Vote" parameterType="int">
	SELECT * FROM zvote
	WHERE ask_no = #{askNo}
</select>

<select id="selectVoteEnd"  resultType="int" parameterType="com.khbill.dto.Vote">
	SELECT COUNT(*) FROM zvote
	WHERE sysdate <![CDATA[ < ]]> #{voteEnd}
	and ask_no = #{askNo}
</select>

<update id="hit" parameterType="int">
	UPDATE zask 
	SET ask_hit = ask_hit+1
	WHERE ask_no = #{askNo}
</update>

<update id="updateAsk" parameterType="com.khbill.dto.Ask">
	UPDATE zask
	SET ask_title = #{askTitle }
		, ask_content = #{askContent }
	WHERE ask_no = #{askNo }
</update>

<delete id="deleteAsk">
	DELETE zask
	WHERE ask_no = #{askNo}
</delete>

<delete id="deleteFile">
	DELETE zfile
	WHERE ask_no = #{askNo}
</delete>

<delete id="deleteItem">
	DELETE zitem
	WHERE ask_no = #{askNo}
</delete>

<delete id="deleteVote">
	DELETE zvote
	WHERE ask_no = #{askNo}
</delete>



</mapper>
