<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.ItemDao">

	<select id="selectAskNoByItemNo" parameterType="com.khbill.dto.Item" resultType="int">
		SELECT ask_no FROM zask
		WHERE product_no = #{itemNo }
	</select>
	
	<select id="selectCntVoteInProgress" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM zvote
		<![CDATA[WHERE TO_CHAR(SYSDATE, 'yy/MM/dd hh:Mi:SS') < TO_CHAR(vote_end, 'yy/MM/dd hh:Mi:SS')]]>
		AND ask_no = #{askNo }
	</select>
	
	<update id="updateVoteEndToSysdate" parameterType="int">
		UPDATE zvote
		SET vote_end = sysdate
		WHERE ask_no = #{askNo }
	</update>
	
	<select id="selectItemNoByAskNo" parameterType="int" resultType="int">
		SELECT product_no
		FROM zask
		WHERE ask_no = #{askNo }
	</select>
	
	<update id="updateItemStatus" parameterType="com.khbill.dto.Item">
		UPDATE zitem
		SET item_status = #{itemStatus },
			item_date = sysdate
		WHERE item_no = #{itemNo }
	</update>
	
	<select id="selectItemCntAll" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM zitem
		where user_no = #{userNo}
	</select>
	
	<select id="selectItemListByUserNo" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, J.* FROM (
				SELECT sub.ask_hit, sub.item_name, sub.item_price, sub.vote_end, sub.item_status, sub.item_no, sub.ask_date, r.review_no, sub.item_date FROM (
					SELECT a.ask_hit, i.item_name, i.item_price, v.vote_end, i.item_status, i.item_no, a.ask_date, i.item_date
	       				  FROM zvote v, zask a, zitem i, zuser u
					      WHERE v.user_no = a.user_no
					      AND a.user_no = i.user_no
					      AND i.user_no = u.user_no
					      AND a.ask_no = v.ask_no
					      AND i.item_no = a.product_no
					      AND a.user_no = #{userNo }) sub LEFT OUTER JOIN zreview r
					ON r.item_no = sub.item_no
				ORDER BY sub.ask_date DESC
			) J
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }	
	</select>
	
	<select id="selectCorrectUser" parameterType="com.khbill.dto.Vote" resultType="com.khbill.dto.User">
		SELECT user_no FROM zvote
		WHERE ask_no = #{askNo }
		AND vote_state = #{voteState }
	</select>
	
	<update id="updateUserPoint" parameterType="com.khbill.dto.User">
		UPDATE zuser
		SET user_point = user_point + 100
		WHERE user_no = #{userNo }
	</update>
		
	<update id="updateItemStatusCancel" parameterType="com.khbill.dto.Item">
		UPDATE zitem
		SET item_status = 'n',
			item_date = null
		WHERE item_no = #{itemNo }
	</update>
	
	<update id="updateItemStatusToY" parameterType="com.khbill.dto.Item">
		UPDATE zitem
		SET item_status = 'y',
			item_date = sysdate
		WHERE item_no = #{itemNo }
	</update>
	
	<update id="updateItemStatusToN" parameterType="com.khbill.dto.Item">
		UPDATE zitem
		SET item_status = 'n',
			item_date = sysdate
		WHERE item_no = #{itemNo }
	</update>
	
	<select id="selectUserList" parameterType="com.khbill.dto.Vote" resultType="com.khbill.dto.User">
		SELECT user_no FROM zvote
		WHERE ask_no = #{askNo }
		AND vote_state = 'y'
	</select>
	
	<update id="updateUserPointToBefore" parameterType="com.khbill.dto.User">
		UPDATE zuser
		SET user_point = user_point - 100
		WHERE user_no = #{userNo }
	</update>


</mapper>
