<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.khbill.dao.face.MainDao">
	<select id="selectUserInfoOrderByPoint" resultType="com.khbill.dto.User">
		SELECT user_point, user_nick
		FROM 
		 (
		  SELECT user_point, user_nick
		  FROM zuser
		  ORDER BY user_point DESC
		 )
		WHERE ROWNUM BETWEEN 1 AND 10
	</select>
	
	<select id="selectNoticeListSix" resultType="com.khbill.dto.Notice">
		SELECT notice_no, notice_title
		FROM 
		 (
		  SELECT notice_no, notice_title
		  FROM znotice
		  ORDER BY notice_date DESC
		 )
		WHERE ROWNUM BETWEEN 1 AND 6
	</select>
	
	<select id="selectExtraMoneyByUserNo" resultType="int" parameterType="int">
		SELECT extra_money
		FROM zuser
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectItemListCheckStatusByUserNo" resultType="int" parameterType="int">
		SELECT nvl(SUM(item_price), 0)
		FROM zitem
		WHERE item_status = 'y' AND user_no = #{userNo }
	</select>
	
	<select id="selectMainment" resultType="String" parameterType="integer">
		SELECT ment_content
		FROM zmainment
		WHERE percent_least <![CDATA[ <= ]]> #{percent }
		AND percent_most <![CDATA[ >= ]]> #{percent }
	</select>
	
	<select id="selectAskListOrderByVotes" resultType="HashMap">
		SELECT sub.c, sub.ask_no, u.user_nick, a.ask_title, a.ask_date, v.vote_end, f.file_stored
		FROM zvote v, zask a, zitem i, zfile f, zuser u, (
		select ask_no, count(vote_state) c from zvote
		    group by ask_no
		    order by c desc
		    ) sub
		    WHERE 1=1
		    AND v.user_no = a.user_no
		    AND v.ask_no = a.ask_no
		    AND a.user_no = u.user_no
		    AND a.product_no = i.item_no
		    AND a.user_no = i.user_no
		    AND i.user_no = u.user_no
		    AND i.file_no = f.file_no
		    AND sub.ask_no = a.ask_no
		    AND ROWNUM <![CDATA[ <= ]]> 6
		    
		    AND TO_CHAR(sysdate, 'MM') = TO_CHAR(v.vote_end, 'MM')
		    ORDER BY sub.c DESC
    </select>
    
    <select id="selectBuyItemList" resultType="HashMap" parameterType="int">
        SELECT
            TO_CHAR(v.vote_end, 'YYYY-MM-DD') vote_end, i.item_name, i.item_price
        FROM zvote v, zask a, zitem i, zfile f, zuser u
        WHERE 1=1
            AND v.user_no = a.user_no
            AND v.user_no = u.user_no
            AND v.ask_no = a.ask_no
            AND a.product_no = i.item_no
            AND a.user_no = u.user_no
            AND i.user_no = u.user_no
            AND i.file_no = f.file_no
            AND i.user_no = #{userNo }
            AND TO_CHAR(sysdate, 'MM') = TO_CHAR(v.vote_end, 'MM')
            AND i.item_status = 'y'
        ORDER BY v.vote_end DESC
    </select>
	
</mapper>