<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.MemberDao">
	
	<select id="countLoginInfo" parameterType="com.khbill.dto.User" resultType="int">
		SELECT COUNT(*) FROM zuser
		WHERE user_id=#{userId} AND user_pw=#{userPw}
	</select>
	
	<select id="selectUserByUserInfo" parameterType="com.khbill.dto.User" resultType="com.khbill.dto.User">
		SELECT * FROM zuser
		WHERE user_id=#{userId} AND user_pw=#{userPw}
	</select>
	
	<insert id="insertMember" parameterType="com.khbill.dto.User">
		INSERT INTO zuser( user_no, user_id, user_pw, user_nick, user_mail, extra_money, user_bday, user_gender)
		VALUES (zuser_seq.nextval, #{userId}, #{userPw}, #{userNick}, #{userMail}, #{extraMoney}, #{userBday}, #{userGender} )
	</insert>
	
	<select id="selectUserNoByUserNick" parameterType="com.khbill.dto.User"  resultType="int">
		SELECT user_no FROM zuser
		WHERE user_nick = #{userNick}
	</select>
	
	<select id="countUserIdDupl" parameterType="String" resultType="int">
		SELECT COUNT(user_id) FROM zuser
		WHERE user_id=#{userId}
	</select>

	<select id="countUserNickDupl" parameterType="String" resultType="int">
		SELECT COUNT(user_nick) FROM zuser
		WHERE user_nick=#{userNick}
	</select>
	
	<select id="selectUserNickByUserNo" parameterType="int" resultType="String">
		SELECT user_nick FROM zuser
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectUserByUserNo" parameterType="int" resultType="com.khbill.dto.User">
		SELECT * FROM zuser
		WHERE user_no = #{userNo}
	</select>
	
	<update id="updateUserInfo" parameterType="com.khbill.dto.User">
		UPDATE zuser
		SET user_pw = #{userPw } 
		, user_nick = #{userNick }
		, user_bday = #{userBday }
		, user_gender = #{userGender }
		WHERE user_no = #{userNo }
	</update>
	
	<delete id="deleteUser" parameterType="int">
		DELETE zuser
		where user_no = #{userNo }
	</delete>
	
	<select id="selectUserCntByUserNick" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM zuser
		WHERE user_nick = #{userNick }
	</select>
	
	<select id="selectUserCntByUserMail" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM zuser
		WHERE user_mail = #{userMail}
	</select>
		
	<select id="selectUserByUserMail" parameterType="String" resultType="com.khbill.dto.User">
		SELECT * FROM zuser
		WHERE user_mail = #{userMail}
	</select>
	
	<update id="updateUserTempPw" parameterType="com.khbill.dto.User">
		UPDATE zuser
		SET user_pw = #{userPw}
		WHERE user_no = #{userNo}
	</update>
	
	<select id="selectUserByUserNick" parameterType="String" resultType="com.khbill.dto.User">
		SELECT user_no, user_nick, join_date, user_point
		FROM zuser
		WHERE user_nick = #{userNick }
	</select>
	
	<select id="selectWriteListByUserNo" parameterType="int" resultType="hashmap">
		SELECT * FROM
		    (SELECT * FROM
		        (SELECT trade_no as board_no, trade_title as title, trade_date as write_date, sub.board FROM ztrade,
		            (SELECT 't' AS board FROM DUAL) sub
		                WHERE 1=1
		                AND user_no = #{userNo }
		        UNION
		        
		        SELECT ask_no as board_no, ask_title as title, ask_date as write_date, sub.board FROM zask,
		            (SELECT 'a' AS board FROM DUAL) sub
		                WHERE 1=1
		                AND user_no = #{userNo }
		        UNION
		        
		        SELECT review_no as board_no, review_title as title, review_date as write_date, sub.board FROM zreview,
		            (SELECT 'r' AS board FROM DUAL) sub
		                WHERE 1=1
		                AND user_no = #{userNo }
		    ) ORDER BY write_date DESC
		)<![CDATA[WHERE rownum <=5]]>
	</select>
	
	
	
</mapper>