<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khbill.dao.face.MemberDao">
	
	<resultMap type="com.khbill.dto.User" id="User">
		<result column="user_no" property="userNo"/>
		<result column="user_id" property="userId"/>
		<result column="user_pw" property="userPw"/>
		<result column="user_nick" property="userNick"/>
		<result column="join_date" property="joinDate"/>
		<result column="extra_money" property="extraMoney"/>
		<result column="user_bday" property="userBday"/>
		<result column="user_gender" property="userGender"/>
		<result column="user_point" property="userPoint"/>
	</resultMap>
	
	<select id="countLoginInfo" parameterType="com.khbill.dto.User" resultType="int">
		SELECT COUNT(*) FROM zuser
		WHERE user_id=#{userId} AND user_pw=#{userPw}
	</select>
	
	<select id="selectUserByUserInfo" parameterType="com.khbill.dto.User" resultMap="User">
		SELECT * FROM zuser
		WHERE user_id=#{userId} AND user_pw=#{userPw}
	</select>
	
	<select id="checkInfo" parameterType="com.khbill.dto.User" resultType="int">
		SELECT COUNT(*) FROM zuser
		WHERE user_id=#{userId} OR user_nick=#{userNick}
	</select>
	
	<insert id="insertMember" parameterType="com.khbill.dto.User">
		INSERT INTO zuser( user_no, user_id, user_pw, user_nick, user_mail, extra_money, user_bday, user_gender)
		VALUES (zuser_seq.nextval, #{userId}, #{userPw}, #{userNick}, #{userMail}, #{extraMoney}, #{userBday}, #{userGender} )
	</insert>
	
	<select id="selectUserNoByUserNick" parameterType="com.khbill.dto.User"  resultType="int">
		SELECT user_no FROM zuser
		WHERE user_nick = #{userNick}
	</select>
	
</mapper>