<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.khbill.dao.face.MessageDao">

	<resultMap type="com.khbill.dto.Message" id="Message">
		<id column="msg_no" property="msgNo" />
		<result column="receiver_no" property="receiverNo" />
		<result column="sender_no" property="senderNo" />
		<result column="msg_title" property="msgTitle" />
		<result column="msg_content" property="msgContent" />
		<result column="msg_date" property="msgDate" />
		<result column="msg_check" property="msgCheck" />
		<result column="receiver_show" property="receiverShow" />
		<result column="sender_show" property="senderShow" />
	</resultMap>
	
	<resultMap type="com.khbill.dto.User" id="User">
	    <id column="user_no" property="userNo" />
	    <result column="user_id" property="userId" />
	    <result column="user_pw" property="userPw" />
	    <result column="user_nick" property="userNick" />
	    <result column="user_mail" property="userMail" />
	    <result column="join_date" property="joinDate" />
	    <result column="extra_money" property="extraMoney" />
	    <result column="user_bday" property="userBday" />
	    <result column="user_gender" property="userGender" />
	    <result column="user_point" property="userPoint" />
	</resultMap>

	<insert id="insertMessage" parameterType="com.khbill.dto.Message">
		<selectKey order="BEFORE" resultType="int" keyProperty="msgNo">
			SELECT zmessage_seq.nextval FROM dual
		</selectKey>

		INSERT INTO zmessage (msg_no, receiver_no, sender_no, msg_title, msg_content)
		VALUES (#{msgNo }, #{receiverNo }, #{senderNo }, #{msgTitle }, #{msgContent })
		
	</insert>
	
	<select id="selectRcvdCntAll" resultType="int" parameterType="int">
		SELECT count (*) FROM zmessage
		WHERE receiver_no = #{userNo }
		AND receiver_show = 'y'
	</select>
	
	<select id="selectSendCntAll" resultType="int" parameterType="int">
		SELECT count (*) FROM zmessage
		WHERE sender_no = #{userNo }
		AND sender_show = 'y'
	</select>
	
	<select id="selectRcvdMsgList" resultType="HashMap" parameterType="Hashmap">
		SELECT * FROM (
			SELECT rownum rnum, M.* FROM (
				SELECT m.msg_no, m.sender_no, m.receiver_no
				, m.msg_title, m.msg_content, m.msg_date, m.msg_check, u.user_nick
				FROM ZMESSAGE m
				INNER JOIN ZUSER u ON(m.sender_no = u.user_no)
				WHERE receiver_no = #{userNo } AND receiver_show = 'y'
				ORDER BY msg_date DESC
			) M
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }	
	</select>
	
	<select id="selectRcvdMsgByState" resultType="HashMap" parameterType="Hashmap">
		SELECT * FROM (
			SELECT rownum rnum, M.* FROM (
				SELECT m.msg_no, m.sender_no, m.receiver_no
				, m.msg_title, m.msg_content, m.msg_date, m.msg_check, u.user_nick
				FROM ZMESSAGE m
				INNER JOIN ZUSER u ON(m.sender_no = u.user_no)
				WHERE receiver_no = #{userNo } AND receiver_show = 'y' AND msg_check ='n'
				ORDER BY msg_date DESC
			) M
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }	
	</select>
	
	<select id="selectSendMsgList" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, M.* FROM (
				SELECT m.msg_no, m.sender_no, m.receiver_no
				, m.msg_title, m.msg_content, m.msg_date, m.msg_check, u.user_nick
				FROM ZMESSAGE m
				INNER JOIN ZUSER u ON(m.receiver_no = u.user_no)
				WHERE sender_no = #{userNo } AND sender_show = 'y'
				ORDER BY msg_date DESC
			) M
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<update id="updateMsgCheckToY" parameterType="com.khbill.dto.Message">
		UPDATE zmessage
		SET msg_check = 'y'
		WHERE msg_no = #{msgNo }
	</update>

	<select id="selectMsgByMsgNo" resultType="com.khbill.dto.Message" parameterType="com.khbill.dto.Message">
		SELECT msg_no, receiver_no, sender_no, msg_title, msg_content, msg_date, msg_check
		FROM zmessage
		WHERE msg_no = #{msgNo }
	</select>
	
	<update id="updateReceiverShowToN" parameterType="com.khbill.dto.Message">
		UPDATE zmessage
		SET receiver_show = 'n'
		WHERE msg_no = #{msgNo }
	</update>

	<update id="updateSenderShowToN" parameterType="com.khbill.dto.Message">
		UPDATE zmessage
		SET sender_show = 'n'
		WHERE msg_no = #{msgNo }
	</update>


</mapper>
