<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.khbill.dao.face.MypageDao">
	
	<select id="selectCntMyAskAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zask
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectAskListByUserNo" resultType="com.khbill.dto.Ask" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				SELECT * FROM zask
				WHERE user_no = #{userNo }
				ORDER BY ask_date DESC
			) A
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectCntMyAskCommentAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zask_comment
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectAskCommentListByUserNo" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				SELECT a.ask_no, za.ask_com_no, za.ask_com_content, za.ask_com_date, a.ask_hit
				FROM zask a
				INNER JOIN zask_comment za
				ON a.ask_no = za.ask_no
				AND za.user_no = #{userNo }
			) A
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectCntMyAskScrapAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zask_scrap
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectAskScrapListByUserNo" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, A.* FROM (
				SELECT a.ask_no, a.ask_title, a.ask_date, a.ask_hit, za.scrap_no
				FROM zask a
				INNER JOIN zask_scrap za
				ON a.ask_no = za.ask_no
				AND za.user_no = #{userNo }
			) A
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectCntMyReviewAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zreview
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectReviewListByUserNo" resultType="com.khbill.dto.Review" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, V.* FROM (
				SELECT * FROM zreview
				WHERE user_no = #{userNo }
				ORDER BY review_date DESC
			) V
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectCntMyReviewCommentAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zreview_comment
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectReviewCommentListByUserNo" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, V.* FROM (
				SELECT v.review_no, zr.review_com_no, zr.review_com_content, zr.review_com_date, v.review_hit
				FROM zreview v
				INNER JOIN zreview_comment zr
				ON v.review_no = zr.review_no
				AND zr.user_no = #{userNo }
			) V
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectCntMyReviewScrapAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM zreview_scrap
		WHERE user_no = #{userNo}
	</select>
	
	<select id="selectReviewScrapListByUserNo" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, V.* FROM (
				SELECT v.review_no, v.review_title, v.review_date, v.review_hit, zr.scrap_no
				FROM zreview v
				INNER JOIN zreview_scrap zr
				ON v.review_no = zr.review_no
				AND zr.user_no = #{userNo }
			) V
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>	
	
	<select id="selectCntMyTradeAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM ztrade
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectTradeListByUserNo" resultType="com.khbill.dto.Trade" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, T.* FROM (
				SELECT * FROM ztrade
				WHERE user_no = #{userNo }
				ORDER BY trade_date DESC
			) T
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectCntMyTradeCommentAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM ztrade_comment
		WHERE user_no = #{userNo }
	</select>
	
	<select id="selectTradeCommentListByUserNo" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, T.* FROM (
				SELECT t.trade_no, zt.trade_com_no, zt.trade_com_content, zt.trade_com_date, t.trade_hit
				FROM ztrade t
				INNER JOIN ztrade_comment zt
				ON t.trade_no = zt.trade_no
				AND zt.user_no = #{userNo }
			) T
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectCntMyTradeScrapAll" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM ztrade_scrap
		WHERE user_no = #{userNo}
	</select>
	
	<select id="selectTradeScrapListByUserNo" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM (
			SELECT rownum rnum, T.* FROM (
				SELECT t.trade_no, t.trade_title, t.trade_date, t.trade_hit, zt.scrap_no
				FROM ztrade t
				INNER JOIN ztrade_scrap zt
				ON t.trade_no = zt.trade_no
				AND zt.user_no = #{userNo }
			) T
		) R
		WHERE rnum between #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<delete id="deleteAskComByAskComNo" parameterType="int">
		DELETE zask_comment
		WHERE ask_com_no = #{askComNo }
	</delete>
	
	<delete id="deleteReviewComByReviewComNo" parameterType="int">
		DELETE zreview_comment
		WHERE review_com_no = #{reviewComNo }
	</delete>
	
	<delete id="deleteTradeComByTradeComNo" parameterType="int">
		DELETE ztrade_comment
		WHERE trade_com_no = #{tradeComNo }
	</delete>
	
	<delete id="deleteAskScrapByScrapNo" parameterType="int">
		DELETE zask_scrap
		WHERE scrap_no = #{scrapNo }
	</delete>
	
	<delete id="deleteReviewScrapByScrapNo" parameterType="int">
		DELETE zreview_scrap
		WHERE scrap_no = #{scrapNo }
	</delete>
	
	<delete id="deleteTradeScrapByScrapNo" parameterType="int">
		DELETE ztrade_scrap
		WHERE scrap_no = #{scrapNo }
	</delete>
	
	
	

</mapper>