<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.khbill.dao.face.QnaDao">
	
	<select id="selectQnaListByUserNo" parameterType="hashmap" resultType="com.khbill.dto.Qna">
		SELECT * FROM (
			SELECT rownum rnum, Q.* FROM (
				SELECT * FROM zqna
				WHERE user_no = #{userNo}
				ORDER BY qna_no DESC
			) Q
		) zqna
		WHERE rnum BETWEEN #{paging.startNo } AND #{paging.endNo }
	</select>
	
	<select id="selectCntAll" parameterType="int" resultType="int">
		SELECT count(*) FROM zqna
		WHERE user_no = #{userNo}
	</select>
	
	<select id="selectQnaDetailByQnaNo" parameterType="int" resultType="com.khbill.dto.Qna">
		SELECT * FROM zqna
		WHERE qna_no = #{qnaNo}
	</select>
	
	<select id="selectQnaCommentByQnaNo" parameterType="int" resultType="com.khbill.dto.QnaComment">
		SELECT * FROM zqna_comment
		WHERE qna_no = #{qnaNo}
		ORDER BY qna_no DESC
	</select>
	
	<insert id="insertQna" parameterType="com.khbill.dto.Qna">
		INSERT INTO zqna (qna_no, qna_title, qna_content, qna_category, user_no)
		VALUES (zqna_seq.nextval, #{qnaTitle}, #{qnaContent}, #{qnaCategory}, #{userNo})
	</insert>
	
	<update id="updateQna" parameterType="com.khbill.dto.Qna">
		UPDATE zqna
		SET qna_title = #{qnaTitle}, qna_content=#{qnaContent}, qna_category=#{qnaCategory}
		WHERE qna_no=#{qnaNo}
	</update>
	
	<delete id="deleteQna" parameterType="int">
		DELETE zqna
		WHERE qna_no=#{qnaNo}
	</delete>
	
	<delete id="deleteQnaComment" parameterType="int">
		DELETE zqna_comment
		WHERE qna_no=#{qnaNo}
	</delete>
	
</mapper>