<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.khbill.dao.face.ReviewDao">
	
	<sql id="selectReview">
        SELECT 
        	review_no, U.user_no, user_nick
        	, review_title, review_date, review_hit
        FROM zreview R
        INNER JOIN zuser U
            ON U.user_no = R.user_no
	</sql>

	<sql id="whereReviewTitleSearch">
		WHERE review_title LIKE '%' || #{search} || '%'
	</sql>
	
	<select id="selectReviewList" parameterType="com.khbill.util.Paging" resultType="HashMap">
		SELECT * FROM (
		    SELECT rownum rnum, R.* FROM (
		    	<include refid="selectReview"/>
				<include refid="whereReviewTitleSearch"/>
		        ORDER BY review_no DESC
		    ) R
		) ZREVIEW
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectCntAll" resultType="int" parameterType="com.khbill.util.Paging">
		SELECT count(*) FROM (
			<include refid="selectReview"/>
			<include refid="whereReviewTitleSearch"/>
		)
	</select>
	
	<update id="updatehit" parameterType="com.khbill.dto.Review">
		UPDATE ZREVIEW
		SET review_hit = review_hit + 1
		WHERE review_no = #{reviewNo }
	</update>
	
	<select id="selectReviewByReviewNo" resultType="HashMap" parameterType="com.khbill.dto.Review">
		SELECT * FROM (
		        SELECT 
		        	review_no, item_no, U.user_no, user_nick, file_no
		        	, review_title, review_content, review_date, review_hit
		        FROM zuser U
		        INNER JOIN zreview R
		            ON U.user_no = R.user_no
		        ORDER BY user_no
		) ZREVIEW
		WHERE review_no = #{reviewNo } 
	</select>
	 
	<select id="selectItemByItemNo" resultType="com.khbill.dto.Item" parameterType="int">
		SELECT * FROM zitem
		WHERE item_no = #{itemNo }
	</select>

	<select id="selectFileByFileNo" resultType="com.khbill.dto.File" parameterType="int">
		SELECT * FROM zfile
		WHERE file_no = #{fileNo }
	</select>

	<select id="selectFileByFile" resultType="com.khbill.dto.File" parameterType="int">
		SELECT
			file_no, file_origin, file_stored, file_size, file_date
		FROM zfile
		WHERE file_no = #{fileNo }
	</select>

	<select id="getNextFileNo" resultType="int">
		SELECT zfile_seq.nextval FROM dual
	</select>

	<select id="getNextItemNo" resultType="int">
		SELECT zitem_seq.nextval FROM dual
	</select>
	
	<select id="getNextReviewNo" resultType="int">
		SELECT zask_seq.nextval FROM dual
	</select>

	 <insert id="insertFile" parameterType="com.khbill.dto.File">
	 	INSERT INTO ZFILE ( file_no, file_origin, file_stored, file_size, file_date )
		VALUES ( #{fileNo }, #{fileOrigin }, #{fileStored }, #{fileSize }, sysdate )
	 </insert>

	 <insert id="insertItem" parameterType="com.khbill.dto.Item">
	 	INSERT INTO ZITEM ( item_no, user_no, file_no, item_brand, item_name, item_price )
		VALUES ( #{itemNo }, #{userNo }, #{fileNo }, #{itemBrand }, #{itemName }, #{itemPrice } )
	 </insert>

	 <insert id="insertReview" parameterType="com.khbill.dto.Review">
	 	INSERT INTO ZREVIEW ( review_no, item_no, user_no, file_no, review_title, review_content, review_date, review_hit )
	 	VALUES (zreview_seq.nextval, #{itemNo }, #{userNo }, #{fileNo }, #{reviewTitle }, #{reviewContent }, sysdate, 0 )
	 </insert>
	 
<!--  	<select id="selectReviewFileByReviewNo" resultType="HashMap" parameterType="com.khbill.dto.Review"> -->
<!-- 		SELECT * FROM ( -->
<!-- 		    SELECT  -->
<!-- 		        review_no, r.file_no, file_origin, file_stored, file_size, file_date -->
<!-- 		    FROM ZREVIEW R -->
<!-- 		    INNER JOIN ZFILE F -->
<!-- 		        ON r.file_no = f.file_no -->
<!-- 		    ORDER BY file_no -->
<!-- 		) ZFILE -->
<!-- 		WHERE review_no = #{reviewNo } -->
<!-- 	</select> -->

 	<select id="selectReviewFileByReviewNo" resultType="com.khbill.dto.Review" parameterType="com.khbill.dto.Review">
	    SELECT 
	        review_no, r.file_no, file_origin, file_stored, file_size, file_date
	    FROM ZFILE
		WHERE file_no = #{fileNo }
	</select>

	<update id="update" parameterType="com.khbill.dto.Review">
		UPDATE ZREVIEW
		SET review_title = #{reviewTitle }
			, review_content = #{reviewContent }
		WHERE review_no = #{reviewNo }
	</update>
	
	
	<delete id="deleteReview" parameterType="int">
		DELETE ZREVIEW
		WHERE review_no = #{reviewNo }
	</delete>
	
	<delete id="deleteItem" parameterType="int">
		DELETE zitem
		WHERE item_no = #{itemNo }
	</delete>
		
	<delete id="deleteFile" parameterType="int">
		DELETE zfile
		WHERE file_no = #{fileNo }
	</delete>
	
	<delete id="deleteReviewCommentByReviewNo" parameterType="int">
		DELETE ZREVIEW_COMMENT
		WHERE review_no = #{reviewNo }
	</delete>
	
</mapper>


