<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.khbill.dao.face.TradeDao">

	<sql id="selectTrade">
        SELECT 
        	trade_no, U.user_no, user_nick, trade_category
        	, trade_title, trade_date, trade_hit
        FROM ztrade T
        INNER JOIN zuser U
        ON U.user_no = T.user_no
	</sql>

	<sql id="whereTitleSearch">
		WHERE trade_title LIKE '%' || #{search} || '%'
	</sql>

	<select id="selectTradeList" resultType="HashMap" parameterType="com.khbill.util.Paging">
        SELECT * FROM (
		    SELECT rownum rnum, T.* FROM (
				<include refid="selectTrade"/>
				<include refid="whereTitleSearch"/>
				ORDER BY trade_no DESC
		    ) T
		) ZTRADE
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM (
			<include refid="selectTrade"/>
			<include refid="whereTitleSearch"/>
		)
	</select>
	
	<select id="selectTradeByTradeNo" resultType="HashMap" parameterType="int">
	    SELECT t.user_no, t.trade_no, t.trade_title, t.trade_content, t.trade_date, t.trade_hit, f.file_stored, u.user_nick
	    FROM ztrade t, zuser u, zfile f
	    WHERE 1=1
	    AND t.user_no = u.user_no
	    AND t.file_no = f.file_no
	
	    AND t.trade_no = #{tradeNo }
	</select>
	
	<select id="selectTradeCommentByTradeNo" resultType="HashMap" parameterType="int">
        SELECT u.user_nick, c.user_no, c.trade_com_no, c.trade_no, c.trade_com_content, c.trade_com_date, c.trade_com_secret
	    FROM ztrade_comment c, zuser u
	    WHERE 1=1
	    AND c.user_no = u.user_no
	    AND trade_no = #{tradeNo }
	</select>
	
	<insert id="insertFile" parameterType="com.khbill.dto.File">
		INSERT INTO zfile (file_no, file_origin, file_stored, file_size, file_date)
		VALUES (#{fileNo }, #{fileOrigin }, #{fileStored }, #{fileSize }, SYSDATE)
	</insert>
	
	<select id="selectFileNo" resultType="int">
		SELECT zfile_seq.nextval FROM dual
	</select>
	
	<insert id="insertTrade" parameterType="com.khbill.dto.Trade">
		INSERT INTO ZTRADE (trade_no, user_no, file_no, trade_category, trade_title, trade_content)
		VALUES (ztrade_seq.nextval, #{userNo }, #{fileNo }, #{tradeCategory }, #{tradeTitle }, #{tradeContent })
	</insert>
	
	<update id="updateHit" parameterType="int">
		UPDATE ztrade
		SET trade_hit = trade_hit + 1
		WHERE trade_no = #{tradeNo }
	</update>
	
	<insert id="insertTradeComment" parameterType="com.khbill.dto.TradeComment">
		INSERT INTO ZTRADE_COMMENT ( trade_com_no, user_no, trade_no, trade_com_content, trade_com_secret)
		VALUES (ztrade_com_seq.nextval, #{userNo }, #{tradeNo }, #{tradeComContent }, #{tradeComSecret })
	</insert>
	
	<delete id="deleteTradeComment" parameterType="int">
		DELETE ztrade_comment
		WHERE trade_com_no = #{tradeComNo }
	</delete>
	
	<select id="selectCountTradeComment" parameterType="int" resultType="int">
		SELECT count(*) FROM ZTRADE_COMMENT
		WHERE trade_no = #{tradeComNo }
	</select>
	
</mapper>