#main .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

#bill {
	font-size: 20px;
}

#bill div span {
	font-size: 25px;
	background-color: gray;
}

#rank_table {
	text-align: center;
	font-size: 16px;
}

#notice_table td {
	font-size: 20px;
	padding-left: 30px;
}

#popular_table td {
	font-size: 20px;
	height: 100px;
	
}