#main .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

#bill {
	font-size: 20px;
}

#rank_table {
	text-align: center;
	font-size: 16px;
}

#rank_table td {
	height: 50px;
}

#notice_table td {
	font-size: 20px;
	padding-left: 30px;
}

#popular_table td {
	font-size: 20px;
	height: 105px;
}

#popular_table {
	margin-bottom: 0;
}

#popular_table img{
	width: 100px;
	height: 100px;
	object-fit:cover;
}