#main .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

#bill {
	font-size: 16px;
}

#rank_table {
	text-align: center;
	font-size: 16px;
}

#rank_table td {
	height: 50px;
}

#notice_table td {
	font-size: 20px;
	padding-left: 30px;
}

#notice_table td a:hover {
    color: #85969E;
    text-decoration: none;
    cursor: pointer;
}

#notice_table td a {
    color: #333;
}

#popular_table td {
	height: 114px;
	font-size: 16px;
	vertical-align: top;
	word-break: break-all;
}

#popular_table {
	margin-bottom: 0;
}

#popular_table th img {
    width: 130px;
    height: 130px;
    object-fit:cover;
}

.row {
	padding-bottom: 30px;
	padding-top: 30px;
}

.ellipsis2 {
/*  	display: -webkit-box; */
/* 	overflow: hidden; */
/* 	text-overflow: ellipsis; */
/* 	white-space: normal; */
/* 	line-height: 1.2em; */
/* 	max-height: 1.2em; */
/* 	word-wrap: break-word; */
/* 	-webkit-line-clamp: 1; */
/* 	-webkit-box-orient: vertical; */
/* 	width: 270px; */
	width: 260px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;  /* 말줄임 적용 */
}

.ellipsis3 {
	width: 715px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;  /* 말줄임 적용 */
}
