#detailMain img {
	object-fit: scale-down;
}

#detailMain {
	height: auto;
	padding: 30px;
}

#writeContent {
	margin-bottom: 15px;
	margin-top: 15px;
}

hr {
	margin-bottom: 15px;
	margin-top: 15px;
}

#commentBody {
	text-align: left;
}

#commentBody td:nth-child(2){
	text-align: center;
}

.table {
	margin-bottom: 0;
}


.layerbox {
	position: relative;
	display: inline-block;
}

.layerpopup {
	width: 500px;
}

.layerpopup:hover {
	width: 500px;
	cursor: pointer;
	text-decoration: underline;
	color: #667F92;
}

#layer {
	display: none;
	padding: 10px;
	background: #fff;
	position: absolute;
	top: 16.6%;
	left: 40.5%;
	z-index: 1;
	width: 110px;
	height: 120px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	padding: 0;
}

#layer>ul {
	list-style: none;
	padding-left: 0;
}

#layer>ul>li {
	line-height: 40px;
}

#layer>ul>li:hover {
	background-color: #a1b8c9;
	cursor: pointer;
}

#layer>ul>li>a {
	display: block;
	color: #667F92;
}

#layer>ul>li>a:hover {
	color: #FFF;
	cursor: pointer;
	text-decoration: none;
}

.layerClose {
	font-size: 15px;
	float: right;
}

.layerpopup:hover, #layerClose:hover {
	cursor: pointer;
}

.button {
    height: 35px;
    width: 75px;
    border-radius: 0px;
    border: 0px;
    background: #5b6e7a;
    color: #f3f3f3;
}

.button:hover {
    border: 1px solid #5b6e7a;
    background: #fff;
    color: #5b6e7a;
    transition: all .2s ease-in-out;
}

#mainContainer {
	background-color: white;
	padding-bottom: 20px;
}

.wrap {
    background: #f2f2f2;
    padding: 100px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.CommentWriter {
	margin: 12px 0 29px;
    padding: 20px;
    border: 2px solid #9f9d9d;
    border-radius: 6px;
    box-sizing: border-box;
    background: #fff;
}
.CommentWriter .comment_inbox_text {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    width: 100%;
    min-height: 17px;
    padding-right: 1px;
    border: 0;
    font-size: 13px;
    -webkit-appearance: none;
    resize: none;
    box-sizing: border-box;
    background: transparent;
    color: var(--skinTextColor);
    outline: 0;
}
.CommentWriter .register_box {
    text-align: right;
}

comment_inbox {
	text-align: left;
}

#btn_register, #btnCommUpdateCancel, #btnCommUpdate, .btn_u, .btn_d {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #5b6e7a;
    border-radius: 4px;
    background-color: #5b6e7a;
    width: 65px;
    color: #fff;
}

#btnCommUpdateCancel, .btn_d {
    border: 1px solid #ddd;
    background-color: #ddd;
}

.btn_d, .btn_u {
	padding: 2px 5px;
	width: 44px;
}

.btnWrap button {
    width: 83px;
    height: 35px;
    background: transparent;
    border: 1px solid #333;
    font-weight: 600;
    margin-left: 3px;
}

h1 {
	margin: 30px 0 30px;
}

.logo {
	margin: 25px 0 15px;
	text-align: center;
}

.logo img {
	width: 200px;
}