#detailMain img {
	width: 400px;
	height: 400px;
	object-fit: scale-down;
}

#writeContent {
	margin-bottom: 15px;
	margin-top: 15px;
}

hr {
	margin-bottom: 15px;
	margin-top: 15px;
}

#commentBody {
	text-align: left;
}

#commentBody td:nth-child(2){
	text-align: center;
}

.table {
	margin-bottom: 0;
}