#writeMain {
	text-align: left;
	margin-top: 40px;
}

#writeForm {
	font-size: 18px;
}

.button {
    height: 35px;
    width: 75px;
    border-radius: 0px;
    border: 0px;
    background: #5b6e7a;
    color: #f3f3f3;
}

.button:hover {
    border: 1px solid #5b6e7a;
    background: #fff;
    color: #5b6e7a;
    transition: all .2s ease-in-out;
}